if session.passport
  span(class="user") #{session.passport.user.username}
  form(method="POST")
    button(class="log-out" type="submit" formaction="/logout") logout

    ul(class="nav justify-content-center")
      |
      |
      |
      |
      a(class="nav-link" href="/search-books") Search Books
      |
      |
      a(class="nav-link" href='/read-it') Read it List
      |
      |
      //- a(class="nav-link" href='/') Home
      //- |
      //- |


