if session.passport
  span #{session.passport.user.username}
  form(method="POST")
    button(type="submit" formaction="/logout") logout

    ul
      |
      |
      |
      |
      a(href="/search-books") Search Books
      |
      |
      a(href='/read-it') Read it List
      |
      |
      a(href='/') Home
      |
      |


