form#signin(name="signin" method="post" action="/register")
  label(class="card-alignment col" for="first_name") First name
  input.text(class="card-alignment col" id="first_name" name="first_name" type="text")
  label(class="card-alignment col" for="last_name") Last name
  input.text(class="card-alignment col" name="last_name" type="text")
  label(class="card-alignment col" for="username") Username
  input.text(class="card-alignment col" name="username" type="text")
  label(class="card-alignment col" for="email") Email Address
  input.text(class="card-alignment col" name="email" type="text")
  label(class="card-alignment col" for="password") Password
  input(class="card-alignment col" name="password" type="password")
  label(class="card-alignment col" for="confirmation") Confirmation
  input(class="card-alignment col" name="confirmation" type="password")
  input.btn(class="card-alignment col sign-in-button" type="submit" value="Sign In")
