extends index.pug

block content
  if message
    h2= message 
    h2 ...or register below
    a(href='/register') register here
    br
    br

  form(class="login-form container" action="/login", method="post")
    input(class="login-form-input col-3" type="text" placeholder="username" name="username")
    input(class="login-form-input col-3" type="email" placeholder="email" name="email")
    input(class="login-form-input col-3" type="password" placeholder="password" name="password")
    button(class="login-form-input col-3" type="submit") login