extends index.pug

block content
  if message
    h2= message 
    h2 ...or register below
    a(href='/register') register here
    br
    br

  form(action="/login", method="post")
    input(type="text" placeholder="username" name="username")
    input(type="email" placeholder="email" name="email")
    input(type="password" placeholder="password" name="password")
    button(type="submit") login