extends index.pug

block content
  if session.passport
    h2 Search All Books
    input#search(placeholder="Search any book you like" type="text", name="search")
    button#search-button(type="button") Search
    if result
      - console.log("Pug log", result);
    //- each book in results

  script
    include ../node_modules/jquery/dist/jquery.js
    include ../public/main.js